.button {
    height: 100px;
    width: 150px;
    display: flex;
    margin: 20px;
    padding: 20px;
    align-items: center;
    
}

.content {
    display: flex;
}

.resultsDiv {
    padding-left: 50px;
    padding-right: 50px;
}